/* Root background and text */
.root {
    -fx-background-color: #2b2b2b; /* dark background */
    -fx-text-fill: #f0f0f0;        /* light text */
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.label {
     -fx-text-fill: #ffffff; /* white text */
 }

/* Buttons */
.button {
    -fx-background-color: #444444;
    -fx-text-fill: #f0f0f0;
    -fx-border-color: #666666;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #555555;
}

/* TextFields */
.text-field {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #f0f0f0;
    -fx-border-color: #666666;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #888888;
}

/* ListView */
.list-view {
    -fx-background-color: #2b2b2b;
    -fx-control-inner-background: #3c3c3c;
    -fx-text-fill: #f0f0f0;
}

.tool-bar {
    -fx-background-color: #666666;
}